.main-container {
    width: 400px;
    height: 400px;
    padding: 1.em;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}