.container-description {
  border-radius: 0 0 2px 2px;

  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.container {
  margin-bottom: 2em !important;
}

.btn-remove-item {
  color: #fff !important;
  background-color: rgb(73, 73, 73) !important;
  border: none !important;
}

.btn-empty-cart {
  color: #fff !important;
  background-color: rgb(73, 73, 73) !important;
  border: none !important;
  margin: 0 auto;
}

.empty-cart-btn-container {
  display: flex;
  justify-content: center;
}
